.main {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.logo {
    text-align: center;
    font-size: 50px;
}

.back_button {
    color: white;
    font-weight: bold;
    background-color:  black;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 2em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.back_button:hover,.back_button:active,.back_button:focus {
    background:  black;
    opacity: 0.8;
}
