.main {
    display: grid;
    place-items: center;
}
.logo {
    text-align: center;
    font-size: 50px;
}
.hidebutton{
    line-height: 20px;
    border: 2px solid black;
    border-radius: 2em;
    height: 30px;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}
.hidebutton:hover,.hidebutton:active,.hidebutton:focus {
    background: gray;
}

.reviewbutton{
    line-height: 20px;
    border: 2px solid black;
    border-radius: 2em;
    height: 30px;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
}
.reviewbutton:hover,.reviewbutton:active,.reviewbutton:focus {
    background: gray;
}

.bowl{
    display: grid;
    width : 330px;
    background:  #86242a;
    place-items: center;
    border: 2px solid black;
    border-radius: 2em;
}

.showbutton{
    color: white;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    background-color:  #86242a;
    width: 330px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 2em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.showbutton:hover,.showbutton:active,.showbutton:focus {
    background:  #86242a;
    opacity: 0.8;
}
.back{
    margin: 50px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color:  black;
    width: 100px;
    height: 40px;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 1em;
}
.content{
    width : 250px;
    color: black;
    font-weight: bold;
    background:  #86242a;
    border: none;
    text-align: center;
    font-size: 25px;
}
.review_content{
    width : 250px;
    height: 170px;
    color: black;
    font-weight: bold;
    background:  #86242a;
    border: none;
    text-align: center;
    font-size: 25px;
}
.answer_content{
    height: 170px;
    width : 250px;
    color: black;
    font-weight: bold;
    background:  #86242a;
    border: none;
    text-align: center;
    font-size: 25px;
}