<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="/css/home/menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="logo">Menu</h1>
        <div class="middle">
            <img class="pic" src="/images/steak1.png" width="320px" height="220px">
            <p class="steak">등심스테이크</p>
            <p class="steak">"최고급 한우 등심 스테이크"</p>
            <p class="price">가격 : 18000원</p>
        </div>
        <div class="middle">
            <img class="pic" src="/images/steak2.png" width="320px" height="220px">
            <p class="steak">안심스테이크</p>
            <p class="steak">"최고급 한우 안심 스테이크"</p>
            <p class="price">가격 : 19000원</p>
        </div>
    </div>
    <div class="main">
        <a href="/success" class="button">뒤로</a>
    </div>
</body>
</html>