<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home/success.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="logo">지역분석</h1>
        <br>
        <br>
        <br>
        <br>
        <form action="/ai" method="get" class="form">
            <input type="submit" class="back_button" value="뒤로">
        </form>
    </div>
</body>
</html>