<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home/success.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1.5;url=/login"> -->
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="logo">문의</h1>
        <br>
        <br>
        <br>
        <h3 class="content">담당자 : 목재민</h3>
        <h3 class="content">전화번호 : 010-5370-1670</h3>
        <h3 class="content">이메일 : bamer@naver.com</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form action="/selectStore" method="get" class="form">
            <input type="submit" class="button2" value="뒤로">
        </form>
    </div>
</body>
</html>