<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1.5;url=/login"> -->
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="logo">Welcome</h1>
        <h1 class="logo">Make Reservation</h1>
    </div>
    <div class="main">
        <a data-rel="dialog" href="/login" class="button">GO</a>
    </div>
</body>
</html>