<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home/success.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="logo">월별 수익분석</h1>
        <br>
        <div class="select">
            <a class="data">2021</a>
            <a class="data">2022</a>
        </div>
        <div class="select">
            <a class="data">recap</a>
            <a class="data">total</a>
            <a class="data">electro</a>
            <a class="data">water</a>
            <a class="data">monthFee</a>
            <a class="data">part-time</a>
            <a class="data">profit</a>
        </div>
        <br>
        <br>
        <img class="pic" src="/images/total.png" width="620px" height="420px">
        <br>
        <br>
        <br>
        <form action="/profit" method="get" class="form">
            <input type="submit" class="back_button" value="뒤로">
        </form>
    </div>
</body>
</html>