<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home/success.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/home/profitMonth.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1 class="logo">월별 수익분석</h1>
        <br>
        <div class="select">
            <button id="year1" class="year_data">2021</button>
            <button id="year2" class="year_data">2022</button>
        </div>
        <div class="select">
            <button id="recap" class="data">recap</button>
            <button id="total" class="data">total</button>
            <button id="electro" class="data">electro</button>
            <button id="water" class="data">water</button>
            <button id="monthFee" class="data">monthFee</button>
            <button id="parttime" class="data">part-time</button>
            <button id="profit" class="data">profit</button>
        </div>
        <br>
        <br>
        <img class="pic" src="/images/total.png" width="620px" height="420px">
        <br>
        <br>
        <br>
        <form action="/profit" method="get" class="form">
            <input type="submit" class="back_button" value="뒤로">
        </form>
    </div>
</body>
</html>