<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="res_main">
        <h3 class="res_logo">예약 완료</h3>
        <a href="/success" class="res_button">확인</a>
    </div>
</body>
</html>