<!-- ! + enter -> basic base -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/success.css">
    <script src="/js/home/time.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h3 class="logo">시간 선택</h3>
        <!-- <form>
            <input id="time1" type="submit" class="button" value="6:00">
        </form> -->
        <form>
            <p id="time1" type="submit" class="button" >6:00</p>
        </form>
        <br>
        <form>
            <p id="time2" type="submit" class="button" >7:00</p>
        </form>
        <br>
        <form>
            <p id="time3" type="submit" class="button" >8:00</p>
        </form>
        <br>
        <form>
            <p id="time4" type="submit" class="button" >9:00</p>
        </form>
        <br>
        <br>
        <br>
        <form action="/date" method="get" class="form">
            <input type="submit" class="back_button" value="뒤로">
        </form>
        
    </div> 
</body>



</html>